.work {
    margin-top: 20px;
    @include animation(fadeInUp 1s);
}

.item {
    margin-top: 20px;

    img {
        width: 100%;
        cursor: pointer;
        box-shadow: 0 0 0 darken(#27303D, 5%);
        @include transition(box-shadow 350ms ease-in);

        &:hover {
            box-shadow: 0 0 40px darken(#27303D, 5%);
            @include transition(box-shadow 350ms ease-in);
        }
    }
}
