@include keyframes(rotate-in) {
    0% {
        opacity: 0;
        @include transform(translateZ(-20px) rotateX(90deg));
    }

    60% {
        opacity: 1;
        @include transform(translateZ(-20px) rotateX(-10deg));
    }

    100% {
        opacity: 1;
        @include transform(translateZ(-20px) rotateX(0deg));
    }
}

@include keyframes(rotate-out) {
    0% {
        opacity: 1;
        @include transform(translateZ(-20px) rotateX(0));
    }

    60% {
        opacity: 0;
        @include transform(translateZ(-20px) rotateX(-100deg));
    }

    100% {
        opacity: 0;
        @include transform(translateZ(-20px) rotateX(-90deg));
    }
}

@include keyframes(shadowIn) {
    0% {
        box-shadow: 0 0 0 darken(#27303D, 5%);
    }

    50% {
        box-shadow: 0 0 20px darken(#27303D, 5%);
    }

    100% {
        box-shadow: 0 0 40px darken(#27303D, 5%);
    }
}
